<li class="feedback" data-id="{{feedbackId}}">
    <button class="prj-btn" title="Edit feedback">
        <span class="glyphicon glyphicon-pencil"></span>
    </button>
    <h3 class="feedbacker">{{feedbacker}}</h3>
    <dl class="dl-horizontal">
        <dt class="item-feedback">Professional quality</dt>
        <dd>{{professionalQuality}}</dd>
        <dt class="item-feedback">Relevant to work</dt>
        <dd>{{relevantToWork}}</dd>
        <dt class="item-feedback">Relationship with staff</dt>
        <dd>{{relationshipWithStaff}}</dd>
        <dt class="item-feedback">Professional growth</dt>
        <dd>{{professionalGrowth}}</dd>
        <dt class="item-feedback">Need more hours</dt>
        <dd>{{needMoreHours}}</dd>
        <dt class="item-feedback">Real project</dt>
        <dd>{{realProject}}</dd>
        <dt class="item-feedback">Additional information</dt>
        <dd>{{additionalInfo}}</dd>
        <dt class="item-feedback"></dt>
        <dd>{{feedbackDate}}</dd>
    </dl>
</li>