<thead>
<tr>
    <th class="list-column-0"><input id="checkAll" type="checkbox" title="check/uncheck all"></th>
    {{#if isStudents}}
    <th class="student-column-1">Name</th>
    <th class="student-column-2">Date(work)</th>
    <th class="student-column-3">Faculty</th>
    <th class="student-column-4">Course/<br>Group</th>
    <th class="student-column-5">Graduated</th>
    <th class="student-column-6">Working<br>hour</th>
    <th class="student-column-7">Billable</th>
    <th class="student-column-8">Role on prj.</th>
    <th class="student-column-9">Current<br>technology</th>
    <th class="student-column-10">English</th>
    {{else}}
    <th class="empl-column-1">Name</th>
    <th class="empl-column-2">Role</th>
    <th class="empl-column-3">Email</th>
    <th class="empl-column-4">Telephone</th>
    <th class="empl-column-5">Skype</th>
    {{/if}}
</tr>
</thead>
