/**************************** Header ***********************************/

.header-fixed-top {
    position: fixed;
    top: 0;
    width: 100%;
    text-align: center;
}

.logout-link{
    float: right;
    margin: 4px 12px;

    font-size: 15px;
}
/*-------------------------------------*/
.header-line {
    margin: 3px;
    margin-bottom: 0;
}

.btn-menu {
    display: inline-block;
    text-align: center;
}

.menu-button {
    font-size: 22px;
    padding: 1px 1px !important;
    width: 32px;
    height: 32px;
}

.search-block {
   display: inline-block;
   margin: 2px;
   margin-left: 15px;
}

#searchLine {
    width: 200px;
}
.search-line {
    min-width: 200px;
    height: 32px;
}

.search-button {
    width: 45px;
    height: 32px;
}

.menu-icon{
    width: 24px;
    height: 24px;
}

.tab{
    float: right;
    position: absolute;
    right: 20px;
    top: 25px;
    opacity: 0.7;
    
    -webkit-transition: opacity 0.3s ease-in-out;
    -moz-transition: opacity 0.3s ease-in-out;
    transition: opacity 0.3s ease-in-out;
}
.tab:hover{
    opacity: 1;
}

.tab-btn:hover{
    opacity: 1;
    border-color: #85e960;
    -webkit-box-shadow: inset 0 2px 2px rgba(0, 0, 0, .075), 0 0 8px rgba(140, 233, 112, 0.60);
    box-shadow: inset 0 2px 2px rgba(0, 0, 0, .075), 0 0 8px rgba(140, 233, 112, 0.60);

}

.tab-btn:disabled{
    color: #fff;
    opacity: 0.95;
    outline: 0;
    border-color: #66afe9;
    -webkit-box-shadow: inset 0 2px 2px rgba(0, 0, 0, .075), 0 0 8px rgba(102, 175, 233, .6);
    box-shadow: inset 0 2px 2px rgba(0, 0, 0, .075), 0 0 8px rgba(102, 175, 233, .6);
}

#toggleNav{
    float: left;
    background: transparent;
    border: none;
}

/*-------------------------------------*/

.info-label {
    background: #fff;
    padding: 3px;
    text-align: center;
    font-weight: bold;
}

/*-------------------------------------*/
#headerScrollingBlock {
    overflow: hidden;
}

#listHeader {
    margin: 0;
}

/***************************** Central *******************************/
.list-content {
    margin: 0 auto;
    width: 1280px;
    text-align: center;
}

/*-------------------Table-----------------------------*/

.student-table > thead {
    font-size: 12px;
    font-weight: bold;
}

.student-table > thead > tr > th {
    padding-top: 4px;
    padding-bottom: 2px;

    vertical-align: middle;
    text-align: center;

    border-bottom: 1px solid transparent;

    font-size: larger;

    padding-left: 1px;
    padding-right: 1px;
}

.student-table > tbody > tr > td {
    vertical-align: middle;
    padding: 6px 4px;

    max-height: 40px;

    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
}

.list-column-0 {
    width: 36px;
}

.student-column-1 {
    width: 210px;
}

.student-column-2 {
    width: 90px;
}

.student-column-3 {
    width: 90px;
}

.student-column-4 {
    width: 60px;
}

.student-column-5 {
    width: 74px;
}

.student-column-6 {
    width: 65px;
}

.student-column-7 {
    width: 90px;
}

.student-column-8 {
    width: 140px;
}

.student-column-9 {
    width: auto;
}

.student-column-10 {
    width: 145px;
}

.empl-column-1 {
    width: auto;
}

.empl-column-2 {
    width: 200px;
}
.empl-column-3 {
    width: 250px;
}
.empl-column-4 {
    width: 200px;
}
.empl-column-5 {
    width: 250px;
}

/*----------------------Load Image-----------------------*/

.load-image-class {
    display: none;
    width: 400px;
    height: 400px;
}

/***************************** FILTER *******************************/
#filter{
    margin: 4px;
}

.filter-button {
    padding: 0;
    margin: 1px 1px;
    width: 24px;
    height: 24px;
    border: 1px solid transparent;
    text-align: center;
}

.filter-separator {
    display: inline-block;
    padding: 0 3px;
    width: auto;
    height: 22px;
}

.filter-item {
    display: inline-block;

    width: auto;
    height: 24px;

    border: #2D3E5C solid 1px;
    border-radius: 5px;


    margin: 0 2px;
}

.filter-name-btn {
    padding: 1px;
    padding-right: 5px;
    padding-left: 3px;

    height: 100%;
    width: auto !important;

    white-space: nowrap;
}

.remove-btn:hover,
.remove-btn:focus,
.remove-btn:active {
    opacity: 1.0 !important;
    border-color: red;
    background-color: rgba(255, 128, 128, 0.61);
    color: red;
    text-decoration: line-through
}

.filter-value {
    text-align: center;
    height: 100%;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    padding: 0;
    border: none;
}

.boolean-filter-value{
    width: 16px;
    height: 16px;
    margin: 3px !important;
}
.text-filter-value{
    width: 150px;
}
.number-filter-value{
    width: 70px;
}
.date-filter-value{
    width: 140px;
}
.list-filter-value{
    width: auto;
    margin-right: 1px;
}

/****************************************************************************/

#appointCuratorSelector {
    display: inline-block;
    width: 220px;
    height: 26px;
    padding: 2px;
}
.dialog-content-top{
    padding: 1px;
}
.applied-list-container{
    margin: 0 auto;
    width: 250px;
    height: 120px;

    text-align: left;

    border: 1px solid gray;
    border-radius: 3pt;
    margin-top: 3px;
}

#appointCuratorsList > li{
    padding: 3px;
    padding-left: 6px;
}
#appointCuratorsList > li:nth-child(even){
    background-color: #f1f1f1;;
}

.remove-appointed {
    font-size: 16px;
    opacity: 0.1;
    color:red;
    float: right;
}
.remove-appointed:hover{
    opacity: 1;
}
.remove-appointed:active{
    font-size: 14px;
}
.btn-ok{
    float: right;
    font-size: 12px;
    padding: 5px;
    color: green;
    width: 24px;
    height: 24px;
}
.btn-ok:hover{
    color: lightgreen;
    font-size: 14px;
}
.btn-ok:active{
    font-size: 15px;
}


.message-area {
    resize: none;
    height: 140px;
    padding: 5px;
}

.inaccessible-mails-list{
    text-align: left;
    height: 150px;
    overflow-y: auto;
}