/**************************** Header ***********************************/

.header {
    position: fixed;
    top: 0;
    width: 100%;
    text-align: center;
}

/*-------------------------------------*/
.first-header-line {
    margin: 2pt;
    margin-bottom: 1pt;
}

.btn-menu {
    display: inline-block;
    width: 100pt;
    text-align: center;
}

.menu-button {
    padding: 1pt 1pt !important;
    width: 24pt;
    height: 24pt;
}

.search-block {
    display: inline-block;
    text-align: center;
}

#searchLine{
    width: 150pt;
}
.search-line {
    float: left;
    min-width: 150pt;
    height: 24pt;
}

.search-button {
    margin-left: -1pt;
    width: 34pt;
    height: 24pt;
}

/*-------------------------------------*/

.info-label {
    margin: 2pt;
    text-align: center;
    font-weight: bold;
}

/*-------------------------------------*/
#headerScrollingBlock{
    overflow: hidden;
}


#headerFixed{
    margin:0;
}
/***************************** Central *******************************/
.central {
/*  display: initial; */
    margin: 0 auto;
    width: 900pt;
    text-align: center;
}

/*-------------------Table-----------------------------*/
.student-table {
    background: transparent;
    text-align: center;
}

.student-table > thead {
    font-size: 12px;
    font-weight: bold;
}

.student-table > thead > tr > th {
    padding-top: 4pt;
    padding-bottom: 2pt;

    vertical-align: middle;
    text-align: center;
}

.student-table > tbody > tr > td {
    vertical-align: middle;
           padding: 5pt 3pt;

/*        overflow: hidden; */
/*     white-space: nowrap; */
  /*-o-text-overflow: ellipsis;*/
     /*text-overflow: ellipsis;*/
}

.header-column-0 {
    width: 40px;
}
.header-column-1 {
    width: 240px;
}
.header-column-2 {
    width: 90px;
}
.header-column-3 {
    width: 85px;
}
.header-column-4 {
    width: 65px;
}
.header-column-5 {
    width: 80px;
}
.header-column-6 {
    width: 65px;
}
.header-column-7 {
    width: 90px;
}
.header-column-8 {
    width: 90px;
}
.header-column-9 {
    width: auto;
}
.header-column-10 {
    width: 100px;
}
/*----------------------Load Image-----------------------*/

.load-image-class {
    display: none;
    width: 320pt;
    height: 320pt;
}

/***************************** FILTER *******************************/

.filter-separator,
.filter-button {
    position: relative !important;
    display: inline-block;
    margin: 1pt;
    margin-left: 2pt;
    margin-right: 2pt;
    padding: 0pt;
    width: 18pt;
    height: 18pt;
    border: 1px solid transparent;
    vertical-align: middle;
    text-align: center;
}

.filter-separator {
    width: 24pt;
}

.filter-item {
    display: inline-table;
    
    padding: 0;
    width: 120pt;
    height: 18pt;
    
    border: solid 1pt;
    border-color: #2D3E5C;
    border-radius: 4pt;
    
    margin: 1pt;
}

.filter-name-btn {
    padding: 1pt;
    padding-right: 1pt;
    padding-left: 1pt;

    width: 40% !important;
    white-space: nowrap;
}

.remove-btn:hover,
.remove-btn:focus,
.remove-btn:active {
    opacity: 1.0 !important;
    border-color: red;
    background-color: rgba(255, 128, 128, 0.61);
    color: red;
    text-decoration: line-through
}

.value-field {
    /*padding: 0;*/
    text-align: center;
    width: 60% !important;
    height: 100%;
}


/****************************************************************************/

.message-area{
    resize: none;
    height: 100pt;
    padding: 4pt;
}