.category-content-select {
    margin-top: 7px;
    border-radius: 4px;

    color: #333;
    font-size: 15px;
}

.list-inline {
    display: inline-block;
}

.term-mark {
    width: 43px;
}

.term-mark-list {
    display: inline;
    margin: 0;
    padding: 0;
    padding-left: 0;
    list-style-position: inside;
    list-style-type: upper-roman counter-reset : termNumber;
}

.term-mark-list > li {
    display: inline;
    padding-right: 5px;
    padding-left: 5px;
    counter-increment: termNumber;
}

.term-mark-list > li:before {
    padding-right: 0.25em;
    content: counter(termNumber, upper-roman) ".";

}

.term-mark-invalid {
    background-color: indianred;
    color: #000000;
    opacity: 0.5;
}

.documents-list-column {
    padding: 5px 10px 5px;
    text-align: left;
}

@media (min-width: 992px) {
    .col-md-offset-2 {
        margin-left: 12.66666667%;
    }
}

.dialog-area {
    width: 230pt;
}

.text-dialog {
    width: 90%;
}

.col-sm-1 {
    padding-right: 60px;
}

.new-document {
    color: darkgreen;
}

.expired-document {
    background-color: #ffffff;
    color: gray;
}

.prj-table-striped > tbody > .expired-document:nth-child(even) > td {
    background-color: #f5f5f5;
    color: gray;
}

.expired-soon-document {
    color: red;
}

.employee-link {
    padding-top: 7px;
}

.inner-category-header {
    display: flex;
    margin-bottom: 5px;
}

.inner-category-header a {
    padding-left: 15px;

    color: #333;
    font-size: 17px;
}

.inline-input {
    width: auto;
}

.inline-input-field {
    width: 40px;
    height: 28px;
    line-height: 1;
}

.checkbox-inline {
    position: relative;
    padding-left: 35px;
}

.dialog-feedback-label {
    margin-right: 20px;
}

.big-textarea {
    padding: 3px 3px 3px;
    height: 100px;
    resize: none;
}

.feedback {
    background-color: #f1f1f1;
}

.feedback-list > .feedback:nth-child(even) {
    background-color: #ffffff;
}

.feedbacker {
    color: black;
    font-size: 20px;
}

.item-feedback {
    margin: 0 4px 3px;
    color: black;
}
.feedback-textarea{
    width : 350px;
}

.dl-horizontal > dd {
    max-width: 350px;
}

.dl-horizontal > dd:last-child {
    margin-top: 10px;
}

.new-feedback {
    background-color: red;
}