/*******************************************************************************/
/****        For all global stylesheet used prefix 'prj-'                  ****/
/*******************************************************************************/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
ol, ul {
    list-style: none;
}

blockquote, q {
    quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}

table {
    background: transparent;
    text-align: center;
    border-collapse: collapse;
    border-spacing: 0;
    table-layout: fixed;
}

/****************************** Main *******************************************/
header,
.prj-header {
    background: #f1f1f1;
    color: #333;
}

body,
.prj-content {
    line-height: 1;
    background: #ffffff;
    font-family: 'Arial', Arial, sans-serif;
}

footer,
.prj-footer {
    background: #f1f1f1;
}

footer, header, menu, nav, section {
    display: block;
}

.prj-popup-dark {
    background: #f1f1f1;
}

.dividing-line{
    height: 16pt;
    background: -moz-linear-gradient(bottom, #f1f1f1, #d1d1d1);
    background: -ms-linear-gradient(bottom, #f1f1f1, #d1d1d1);
    background: -o-linear-gradient(bottom, #f1f1f1, #d1d1d1);
    background: -webkit-linear-gradient(bottom, #f1f1f1, #d1d1d1);
}


/****************************** Select *****************************************/
select {

}

/****************************** Input ******************************************/
input,
.team-text-input {
    color: #333;
}

/****************************** Label ******************************************/
label,
.team-label-default {
    color: #333;
    background: transparent;
}


/****************************** Buttons ****************************************/

.prj-btn {
    border-color: #2D3E5C;
    border-radius: 4px;
    background-color: #4A5D80;
    color: #ffffff;

}

.prj-btn:hover,
.prj-btn:active {
    opacity: 0.5;
}

.prj-btn.disabled,
.prj-btn[disabled],
.prj-btn.disabled:hover,
.prj-btn[disabled]:hover,
.prj-btn.disabled:focus,
.prj-btn[disabled]:focus,
.prj-btn.disabled:active,
.prj-btn[disabled]:active {
    color: gray;
}

.static-green {
    border-color: #4b954b;
    background-color: #5cb85c;
    color: #fff;

    border-radius: 4px;

    font-weight: 400;
    font-size: 14px;
    line-height: 1.42857143;
}

/****************************** Links ******************************************/
.prj-link {
    background: transparent;
    color: #333;
}

.prj-link:hover {
    color: #4A5D80;
}

.logout-link {
}
/****************************** Table ******************************************/
.prj-list-header {
    background: -moz-linear-gradient(bottom, #e1e1e1, #f1f1f1 30%, #d1d1d1);
    background: -ms-linear-gradient(bottom, #e1e1e1, #f1f1f1 30%, #d1d1d1);
    background: -o-linear-gradient(bottom, #e1e1e1, #f1f1f1 30%, #d1d1d1);
    background: -webkit-linear-gradient(bottom, #e1e1e1, #f1f1f1 30%, #d1d1d1);
}

.prj-table-striped > tbody > tr:nth-child(even) > td,
.prj-table-striped > tbody > tr:nth-child(even) > th {
    background-color: #f1f1f1;
}

/****************************remove arrows from inputs***************************/
/*input::-webkit-inner-spin-button,*/
/*input::-webkit-outer-spin-button {*/
/*-webkit-appearance: none;*/
/*margin: 0px;*/
/*}*/

/*input {*/
/*-moz-appearance: textfield;*/
/*}*/

/**************************************************************************/
.content-locker {
    display: none;
    position: absolute;
    z-index: 5;

    width: 100%;
    height: 100%;
    top: 0;
    left: 0;

    text-align: center;

    background: rgba(0, 0, 0, 0.5);
}

.content-locker:before{
    content: '';
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}

.dialog-area {
    width: 220pt;
    height: auto;

    display: inline-block;
    vertical-align: middle;

    background: #ffffff;

    border: solid 1pt gray;
    border-radius: 4pt;

    overflow: hidden;
}

.dialog-header {
    width: 100%;
    height: 18pt;
    background: rgba(0, 0, 0, 0.6);
}

.dialog-content {
    display: none;
    text-align: center;
    height: auto;
    padding: 3pt;
}

.dialog-close {
    float: right;
    margin: 2pt;
    color: #ffffff;
    background-size: 100%;
    padding: 1pt;
}

.dialog-close:hover {
    color: #4A5D80;
}

.dialog-close:active {
    padding-top: 2pt;
    padding-right: 0;
}

.dialog-content-central {
    width: 100%;
    height: auto;
}

.dialog-footer {
    height: 30pt;
    padding: 2pt;
    margin: 1pt;
}

.dialog-footer > * {
    float: right;
    margin-left: 6pt;
    margin-right: 6pt;
}

.dialog-input {
    width: 98%;
    padding-right: 4pt;
    padding-left: 4pt;
}