body{
    background:#D4EEEE url(../images/pattern.png) repeat top left !important;
    min-height: 100%;
}
h1 {
    padding: 20px;
    font-size: 35px;
    color: #333;
    font-family: 'Josefin Slab', Georgia, serif;
    font-weight: 700;
    text-shadow: 1px 1px 1px #fff;
    -webkit-margin-before: 0.67em;
    -webkit-margin-after: 0.67em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
}
.header {
    display : block;
    width: 100%;
    margin: 0 auto;
    padding: 0;
    line-height: 30%;
    text-transform: uppercase;
    z-index: 4;
    box-sizing: border-box;
    -moz-box-shadow: 1px 0px 2px #000;
    -webkit-box-shadow: 1px 0px 2px #000;
    box-shadow: 1px 0px 2px #000;
}



.wrapper{
    margin: 0 auto;
    width: 90%;
}


.accordion{
    display:block;
    box-sizing: border-box;
    margin: 0 auto;
    padding: 0;
    width:100%;
    overflow:hidden;
}
.accordion ul > li:first-child {

    border-top: none !important;
}

.ui-dialog .ui-state-error { padding: .3em; }
.validateTips { border: 1px solid transparent; padding: 0.3em; }

.category-header a{
    font-family: 'Josefin Slab', Georgia, serif;
    text-shadow: 1px 1px 1px #fff;
    font-size: 46px;
    display: block;
    position: relative;
    /*line-height: 100px;*/
    outline: none;
    -webkit-transition: color 0.2s ease-in-out;
    -moz-transition: color 0.2s ease-in-out;
    -o-transition: color 0.2s ease-in-out;
    -ms-transition: color 0.2s ease-in-out;
    transition: color 0.2s ease-in-out;
}
.category-header > a span {
    background: transparent url(../images/down.png) no-repeat center center;
    text-indent: -9000px;
    width: 26px;
    height: 14px;
    position: absolute;
    top: 50%;
    right: -26px;
    margin-top: -7px;
    opacity: 0;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    -ms-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}

.category-header a:hover {
    color: #1693eb;
}

.category-header a:hover span {
    opacity: 1;
    right: 10px;
}








