h1 {
    margin:0;
    padding: 20px;
    font-size: 30px;
    font-weight: 300;
    -webkit-margin-after: 0.67em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
}

.header {
    display: block;
    width: 100%;
    margin: 0 auto;
    padding: 0;
    line-height: 30%;
    text-transform: uppercase;
    z-index: 4;
    box-sizing: border-box;
    -moz-box-shadow: 1px 0px 2px #000;
    -webkit-box-shadow: 1px 0px 2px #000;
    box-shadow: 1px 0px 2px #000;
}

.wrapper {
    margin: 0 auto;
    width: 90%;
}

.ui-dialog .ui-state-error {
    padding: .3em;
}

.validateTips {
    border: 1px solid transparent;
    padding: 0.3em;
}

div ::selection {
    background-color: transparent !important;
}


.category-header a {
    text-shadow: 0.3px 0.3px 0.3px #fff;
    text-decoration: none;
    font-size: 26px;
    display: block;
    position: relative;
    color : #5b32ff;
    outline: none;
    -webkit-transition: color 0.2s ease-in-out;
    -moz-transition: color 0.2s ease-in-out;
    -o-transition: color 0.2s ease-in-out;
    -ms-transition: color 0.2s ease-in-out;
    transition: color 0.2s ease-in-out;
}
.category-header a:hover{
    color : #428bca;
}


.category-header > a span {


    background: transparent url(../images/down.png) no-repeat center center;
    text-indent: -9000px;
    width: 26px;
    height: 14px;
    position: absolute;
    top: 50%;
    right: -26px;
    margin-top: -7px;
    opacity: 0;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    -ms-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}



.category-header a:hover span {
    opacity: 1;
    right: 10px;
}
.category-content{
    margin-bottom: 10pt;
}
.category-content-button {
    margin-left:35%;

}

.category-content-select {
    border-radius: 4px;
    font-size: 17px;

    color: #333;
}



.form-control{
    width : auto;
}







