body {
    background-color: #d8d8d8;

}

h1 {
    margin:0;
    padding: 20px;
    font-size: 30px;
    color: #ffffff;
    /*font-family: 'Josefin Slab', Georgia, serif;*/
    font-weight: 300;
    -webkit-margin-after: 0.67em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
}

.header {
    display: block;
    width: 100%;
    margin: 0 auto;
    padding: 0;
    line-height: 30%;
    text-transform: uppercase;
    z-index: 4;
    box-sizing: border-box;
    -moz-box-shadow: 1px 0px 2px #000;
    -webkit-box-shadow: 1px 0px 2px #000;
    box-shadow: 1px 0px 2px #000;
}

.wrapper {
    margin: 0 auto;
    width: 90%;
}

.ui-dialog .ui-state-error {
    padding: .3em;
}

.validateTips {
    border: 1px solid transparent;
    padding: 0.3em;
}

.header {

    /*background: -webkit-gradient(linear, 0 0, 0 100%,*/
    /*from(rgba(0, 0, 0, .2)),*/
    /*color-stop(0.05, rgba(0, 0, 0, 0)),*/
    /*color-stop(0.97, rgba(0, 0, 0, 0)),*/
    /*to(rgba(0, 0, 0, .45))),*/
    /*-webkit-gradient(linear, 0 0, 100% 0,*/
        /*from(rgba(0, 0, 0, .2)),*/
        /*color-stop(0.002, rgba(0, 0, 0, 0)),*/
        /*color-stop(0.998, rgba(0, 0, 0, 0)),*/
        /*to(rgba(0, 0, 0, .2))),*/
    /*-webkit-gradient(linear, 0 100%, 0 0,*/
        /*from(#666),*/
        /*color-stop(0.5, #5e5e5e),*/
        /*color-stop(0.51, #707070), to(#808080));*/
}


.category-header a {
    /*font-family: 'Josefin Slab', Georgia, serif;*/
    text-shadow: 0.3px 0.3px 0.3px #fff;
    text-decoration: none;
    font-size: 26px;
    display: block;
    position: relative;
    /*line-height: 100px;*/
    outline: none;
    -webkit-transition: color 0.2s ease-in-out;
    -moz-transition: color 0.2s ease-in-out;
    -o-transition: color 0.2s ease-in-out;
    -ms-transition: color 0.2s ease-in-out;
    transition: color 0.2s ease-in-out;
}

.category-header > a span {


    background: transparent url(../images/down.png) no-repeat center center;
    text-indent: -9000px;
    width: 26px;
    height: 14px;
    position: absolute;
    top: 50%;
    right: -26px;
    margin-top: -7px;
    opacity: 0;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    -ms-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}

.category-header a:hover {
    color: #1693eb;
}

.category-header a:hover span {
    opacity: 1;
    right: 10px;
}

.category-content button[type="button"] {
    float: right;
    padding: 2px 8px;
}

.select {
    border: 0.4px solid #31708f;
    border-radius: 4px;
    font-size: 17px;
    background-color: #428bca;
    color: white;
}

.form-control{
    width : auto;
}







