body {
    font-size: 20px;
    margin: 15px;
}
.main-form {
    width: 600px;
    margin: 0 auto;
}

.first {
    margin-top: 10px;
    margin-bottom: 5px;
    height: 65px;
}

.form-control {
    width: 440px;
}
@media (max-width: 500px) {
    .form-control {
        width: 70%;
    }
}

.control-label {
    padding-right: 1px;
}

.err{
    margin: 0  auto;
    dialog: none;
    width: 100%;
}

